@tailwind base;
@tailwind components;
@tailwind utilities;

@layer body {
  body {
    @apply font-barlow m-0 p-0 box-border overflow-x-hidden;
  }
}

.sale-label::after {
  content: "30% OFF";
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.15);
  font-size: 225px;
  font-weight: 600;
  line-height: 1;
  pointer-events: none;
  white-space: nowrap;
  user-select: none;
  z-index: -1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-text {
  animation: spin 4s linear infinite;
}

.image_spin {
  animation: spin 10s linear infinite;
}